.vs/
Debug/
Release/
x64/
x86/
*.ilk
*.pdb
*.obj
*.exe
*.exp
*.lib
*.log
*.tlog
*.idb
*.iobj
*.ipdb
*.ipch
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
Chess cheat.vcxproj.user

__pycache__/
*.pyc
*.pyo
.venv/
venv/

screenshots/*.bmp
screenshots/*.png


src/board_config.json
src/templates.npz

engine/